h1{
  outline: 1px solid yellow;
  text-align: center;
}


img{
  outline: 1px solid blue;
  max-width: 100%; /*el maximon del contenido*/
}

p{
  outline: 1px solid orange;
}

.caja{
  /*outline: 1px solid red; */
  width: 420px;
  padding: 10px;
  border:1px solid #999;
  margin-left: 10px;
  box-sizing: border-box;
  float: left; /*cuidado que no sea maas grande que su contenido*/

}
